h1{
    height: 70px;
    padding: 10px;
    background-color: orange;
    text-align: center;
    font-size: 60px;
    color: black;
  }
  h2{
      text-align: left;
      text-decoration: underline;
  }

  img {
      position:absolute; right: 10px; top: 10px;
  }
  p{
      text-align: center;
      background-color: orange;
  }