div{
    display: grid;
    grid-template-columns: 1fr;
}
h1{
    text-align: center;
    font-size: 3em;
}

section{
    text-align: center;
    background-color:#33464d ;
    margin-bottom: 2em;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin-bottom: 2em;
}
h2{
    font-size: 3em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 1.5em;
    color: white;
}