@media only screen and (min-width:2056px ){
    form{
        
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
    
    }
    
    form div{
        margin: 2em;
        height: 22em;
      
    }
    
    label{
        font-size: 4vw;
    }
    
    input{
        width: 45vw;
        height: 1em;
        display: block;
    }
    
    #rating{
        width: 25vw;
    
    }
    select{
        width: 45vw;
        height: 2em;
    }
    textarea{
        width: 45vw;
        height: 3em;
    }
    #sumbit{
        height: 2em;
        width: 45vw;
      
    }







}