form{
    background-color: white;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

}

form div{
    margin: 1.5em;
    height: 8em;
}

label{
    font-size: 4vw;

}

input{
    height: 1.5em;
    font-size: 4vw;
    border: .5vw solid black;
    width: 85vw;
    margin-top: .25em;
    margin-bottom: 1em;
}

#rating{
    width: 60vw;
}
.radio{
   display: inline;
   width: 40vw;
}
#radio{
    display: inline;
    width: 40vw;

}

#radioId{
    display: block;
}

select{
    font-size: 2vw;
    border: .5vw solid black;
    width: 85vw;
    height: 3em;
}
textarea{
    font-size: 4vw;
    width: 85vw;
    height: 2em;
    border: .5vw solid black;
}

#sumbit{
    height: 2em;
    width: 85vw;
}