@media only screen and (min-width:1700px){

    .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       }
       
    figcaption
    {
        display: block;
        background-color: white;
        height: 3vw;
        text-align: center;
        font-size: 2vw;

    }

}