#pagename{
    font-size: 3em;
    text-align: center;
    color: white;
}


form{
    background-color: white;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

}

form div{
    margin: 1.5em;
    height: 8em;
}

label{
    font-size: 2em;

}

input{
    height: 1.5em;
    font-size: 1em;
    border: .25vw solid black;
    width: 85vw;
    margin-top: .25em;
    margin-bottom: 1em;

}

#rating{
    width: 35vw;
}
.radio{
   display: inline;
   width: 40vw;
}
#radio{
    display: inline-block;
    width: 20vw;
    font-size: .75em;

}

#radioId{
    display: block;
}

select{
    font-size: 1.75em;
    border: .25vw solid black;
    width: 85vw;
    height: 3em;
}
textarea{
    font-size: 2em;
    width: 85vw;
    height: 2em;
    border: .25vw solid black;
}

#sumbit{
    height: 2em;
    width: 85vw;
    font-size: 2em;
}
#theradios
{
    height: 3em;
}