@media only screen and (min-width:560px ){


    /*navigation code*/
    
    nav li{float: left; width: 25%}
    
    main figure {
        float: right; 
        width: 48%;
        margin-left: 2%;
        padding-bottom: 2%;
    }
    div.news{
        clear: both;
        column-count: 2;
        column-rule: 1px solid #dddddd;
    }
    
    }/*end of media Query*/
    
    