/*Formatting the header to look correct on the small screen */
#logoPic img {width: 200px;}

#headerwrapper
{
  background-color: #eef;
  padding:20px;
  display: grid; 
  grid-template-columns: 210px auto;
  grid-template-rows: 210px auto;
  height: 210px;
  margin: 20px, 20px;
}
#nameandmotto h1
{
  font-size: 70px;
}
#nameandmotto p
{
  font-size: 40px;
}

  /*formatting the navigation to be displayed under the header when the page is big and in hamburger icon when small */
 ul
 {
   list-style-type: none;
   display:flex;
   flex-direction: column;
   text-align: center;
   margin: 10px; 
   padding: 10px;
   justify-content: center;
   background-color: aqua;
   color: black;
 }

 ul a:hover{ background-color: blue;}

 ul a
 {
  display: block;
  height: 60px;
  font-size: 40px;
  text-decoration: none;
 }

 .block {
  display: block;
  width: 100%;
  border: none;
  background-color: lightblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 100px;
}

body h1{
  font-size: 50px;
}
 .noshow{display:none;}

 /*hero image stuff*/
 #heroImage
 {
   background-color: aquamarine;
   text-align: center;
   height: 100px;
   font-size: 35px;
   margin: 20px;   
 }


/*Weather section stuff*/
#weatherSummary
{
  background-color: aquamarine;
  text-align: center;
  height: 100px;
  font-size: 35px;
  margin: 20px;

}

/*forcast section stuff*/
#Forcast
{
  background-color: aquamarine;
  text-align: center;
  height: 100px;
  font-size: 35px;
  margin: 20px;
}

/*article section stuff*/
#Article
{
  background-color: aquamarine;
  text-align: center;
  height: 100px;
  font-size: 35px;
  margin: 20px;
}

/*footer stuff*/


/*contact us stuff*/
#Contactus
{
  text-align: center;
  font-size: 20px;
}
#lastModDate
{
  text-align: center;
  font-size: 20px;
}
 
.clearfix:after {
  content: "";
  display: table; 
  clear: both;
  }